APP_ENV=local
APP_HOST=0.0.0.0
APP_PORT=8080

POSTGRES_DSN=postgres://maps:maps@localhost:5432/maps?sslmode=disable

S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=maps
S3_USE_PATH_STYLE=true
S3_PRESIGN_UPLOAD_TTL=15m
S3_PRESIGN_DOWNLOAD_TTL=15m

AUTH_JWT_SECRET=change-me
AUTH_ACCESS_TOKEN_TTL=15m

S3_PROXY_ENABLED=true
S3_DOWNLOAD_BASE_PROXY_URL=https://something.com/
S3_UPLOAD_BASE_PROXY_URL=https://something.com/